<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ProductAPI Productos</title>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<%- include("./partials/navigation.ejs") -%>
		<div class="productsContainer">
			<% if (productos.length) { %>
				<% for(let producto of productos){ %>
					<div class="productCard">
						<img class="productImg" src=<%= producto.thumbnail %> alt="">
						<h3 class="productName"><%= producto.name %> </h3>
						<span class="productPrice">$<%= producto.price %> </span>
						<span class="productPrice">id:<%= producto.id %> </span>

					</div>
				<% } %> 
			<% } else { %>
				<h3>No hay productos ingresados</h3>
			<% } %>
		</div>
	</body>
</html>
